# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
node_modules/
dist/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories
.vscode/
.idea/

# Local env files
.env
*.local
